/*
    Cambel - Frontend
    Espartero - Backend
    Fallarme - Backend
    Gelvezon - Frontend
*/

/* font import */
@font-face {
  font-family: "PokemonSolid";
  src: url("font/Pokemon\ Solid.ttf") format("truetype");
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Montserrat:wght@500;600&display=swap');

/* background image - to be changed */
.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  filter: blur(8px);
  transform: scale(1.1);
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
}

/* font used */
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background: #f5f5f5;
}

/* navigation/header section */
/* .navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #ef5350;
  color: white;
  flex-wrap: wrap;
} */

.navigation-bar{
  position: sticky;
  top: 0;
  z-index: 1000; /* keeps it above everything */
  background-color: #ef5350;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 15px 20px;
  letter-spacing: 3px;
  border-bottom: 2px solid rgb(0, 0, 0);
}

/* Logo image */
.logo {
    width: 80px;
    height: 80px;
    margin-left: 10px;
}

/* Title text */
.navigation-logo h3 {
    margin: 0;
    font-size: 26px;
    font-weight: bold;
    font-family: sans-serif;

    color: #ffd21d;

    text-shadow:
        -2px -2px 0 #2a75bb,
         2px -2px 0 #2a75bb,
        -2px  2px 0 #2a75bb,
         2px  2px 0 #2a75bb,
         4px  4px 6px rgba(0,0,0,0.3);
}

.navigation-logo {
  display: flex;
  max-width: 60px;
  max-height: 100px;
  margin-right: 20px;
  margin-left: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.navigation-search,
.advanced-search-button {
  display: flex;
  align-items: center;
  gap: 8px;
}

.navigation-search {
  margin-left: auto;
}

/* search function styling */
.navigation-search input {
  padding: 12px 18px;
  width: 250px;

  border: 3px solid #2a75bb;
  border-radius: 12px;

  font-size: 14px;
  outline: none;

  background: linear-gradient(145deg, #ffffff, #f0f0f0);

  box-shadow:
      inset 2px 2px 5px rgba(0,0,0,0.2),
      inset -2px -2px 5px rgba(255,255,255,0.7),
      0 4px 10px rgba(0,0,0,0.3);

    transition: all 0.3s ease;
}

.navigation-search input::placeholder {
    color: #888;
    font-style: italic;
}

.navigation-search input:focus {
    background: #ffeb3b;

    border-color: #2a75bb; 

    box-shadow:
      0 0 10px #ffffff,
      0 0 20px #ffeb3b,
      inset 2px 2px 5px rgba(0,0,0,0.2);

    transform: scale(1.05);
}

.loading {
  text-align: center;
  padding: 20px;
  font-weight: bold;
}

/* layout and styling */
  .pokemon-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 25px;
    padding: 20px;
    width: 90%;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
  }

/* generation selection */
select {
    padding: 10px 16px;
    border-radius: 12px;
    border: 3px solid #2a75bb;
    color:#2a75bb;
    font-weight: bold;
    margin-right: 7px;

    background: #fff;
    font-weight: bold;
    cursor: pointer;

    box-shadow:
        inset 2px 2px 4px rgba(0,0,0,0.2),
        2px 2px 6px rgba(0,0,0,0.3);

    transition: 0.3s;
}

/* hover effect */
select:hover {
    background: #ffd21d;
}

/* focus effect */
select:focus {
    outline: none;
    box-shadow: 
    0 0 10px #ffffff,
    0 0 20px #ffeb3b,
    inset 2px 2px 5px rgba(0,0,0,0.2);
}

/* ensures responsiveness */
@media (max-width: 1000px) {
  .pokemon-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 700px) {
  .pokemon-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .pokemon-grid {
    grid-template-columns: 1fr;
  }
}

/* card template styling */
.pokemon-card {
  width: 180px;
  border-radius: 12px;
  padding: 10px;

  background: radial-gradient(circle at top, #ffffff55, transparent);
  border: 4px solid #C0C0C0;
  box-shadow:
    0 6px 12px rgba(0, 0, 0, 0.3),
    inset 0 0 10px rgba(255, 255, 255, 0.6);

  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;

}

.pokemon-card:hover {
  transform: scale(1.05);
  box-shadow:
    0 10px 18px rgba(0, 0, 0, 0.4),
    inset 0 0 12px rgba(255, 255, 255, 0.8);
}

.pokemon-card img {
  width: 95%;
  height: 120px;
  object-fit: contain;

  background: radial-gradient(circle, #ffffff, #dcdcdc);
  border: 2px solid #999;
  border-radius: 8px;
  padding: 5px;
  margin-bottom: 8px;
}

.pokemon-card h3 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: bold;
  margin: 5px 0;
  color: #222;
}

.pokemon-card p {
  font-size: 12px;
  margin: 4px 0;
  padding: 4px 6px;
  border-radius: 6px;
  font-family: 'Inter', sans-serif;
}

.pokemon-card .id {
  font-size: 16px;
  margin: 4px 0;
  padding: 2px 6px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  letter-spacing: 2px;
}

.pokemon-card .abilities {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-card .abilities .ability-header {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: bold;
  margin: 5px 0;
  color: #222;
}

.ability-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.ability {
  background: rgba(0, 0, 0, 0.08);
  padding: 3px 6px;
  border-radius: 6px;
  font-size: 11px;
  text-transform: capitalize;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/* card stylings for each type */
.pokemon-card {
  background: linear-gradient(135deg, #f5f5f5, #e0e0e0);
}

.pokemon-card.normal {
  background: linear-gradient(135deg, #A8A878, #C6C6A7);
}

.pokemon-card.fire {
  background: linear-gradient(135deg, #F08030, #F8D030);
}

.pokemon-card.water {
  background: linear-gradient(135deg, #6890F0, #98D8D8);
}

.pokemon-card.electric {
  background: linear-gradient(135deg, #F8D030, #FFF2A8);
}

.pokemon-card.grass {
  background: linear-gradient(135deg, #78C850, #A8E6A3);
}

.pokemon-card.ice {
  background: linear-gradient(135deg, #98D8D8, #D0F8E8);
}

.pokemon-card.fighting {
  background: linear-gradient(135deg, #C03028, #E79A8A);
}

.pokemon-card.poison {
  background: linear-gradient(135deg, #A040A0, #D8A0D8);
}

.pokemon-card.ground {
  background: linear-gradient(135deg, #E0C068, #F5DEB3);
}

.pokemon-card.flying {
  background: linear-gradient(135deg, #A890F0, #C6B7F5);
}

.pokemon-card.psychic {
  background: linear-gradient(135deg, #F85888, #F8A8B8);
}

.pokemon-card.bug {
  background: linear-gradient(135deg, #A8B820, #D8E030);
}

.pokemon-card.rock {
  background: linear-gradient(135deg, #B8A038, #E0C068);
}

.pokemon-card.ghost {
  background: linear-gradient(135deg, #705898, #A292BC);
}

.pokemon-card.dragon {
  background: linear-gradient(135deg, #7038F8, #B39DDB);
}

.pokemon-card.dark {
  background: linear-gradient(135deg, #705848, #A29288);
  color: white;
}

.pokemon-card.steel {
  background: linear-gradient(135deg, #B8B8D0, #D8D8F0);
}

.pokemon-card.fairy {
  background: linear-gradient(135deg, #EE99AC, #F4BDC9);
}

/* type styling */
.type {
  padding: 4px 8px;
  border-radius: 8px;
  color: white;
  font-size: 12px;
  margin-right: 4px;
  display: inline-block;
  text-transform: uppercase;
  border: 1px solid black;
}

/* list of types and their respective color*/
.type-fire {
  background: #F08030;
}

.type-water {
  background: #6890F0;
}

.type-grass {
  background: #78C850;
}

.type-electric {
  background: #F8D030;
}

.type-psychic {
  background: #F85888;
}

.type-ice {
  background: #98D8D8;
}

.type-dragon {
  background: #7038F8;
}

.type-dark {
  background: #705848;
}

.type-fairy {
  background: #EE99AC;
}

.type-normal {
  background: #A8A878;
}

.type-poison {
  background: #A040A0;
}

.type-bug {
  background: #A8B820;
}

.type-rock {
  background: #B8A038;
}

.type-ground {
  background: #E0C068;
}

.type-flying {
  background: #A890F0;
}

.type-fighting {
  background: #C03028;
}

.type-ghost {
  background: #705898;
}

.type-steel {
  background: #B8B8D0;
}

.no-results {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 18px;
  padding: 20px;
}

/* ======= Footer Section =======*/
.footer {
  text-align: center;
  padding: 15px;
  color: rgb(0, 0, 0);
  font-size: 13px;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 15px 20px;
  font-family: "Montserrat";
}

.footer hr {
  border: 0;
  height: 1px;
  background-color: rgb(0, 0, 0);
  margin-bottom: 10px;
}

.footer p {
  margin: 5px 0;
}